<nav class="navbar navbar-expand-lg navbar-dark bg-success py-4">
  <div class="container flex-column">

    <h1 class="text-white">NATIVA TRAVEL</h1>

    <ul class="nav mt-3 gap-2">
      <li class="nav-item">
        <a class="btn btn-outline-light" routerLink="">INICIO</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-light" routerLink="/destino">DESTINO</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-light" routerLink="/favoritos">FAVORITOS</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-light" routerLink="/nosotros">NOSOTROS</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-light" routerLink="/contacto">CONTACTO</a>
      </li>
    </ul>

  </div>
</nav>
